.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 60px;
  padding: 2% 4%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.airplane {
  font-size: 4em;
}
.action-btn {
  display: flex;
  gap: 20px;
}
